
    <header id="header">
        <div class="desktop-header">
            <a href="index.html">
                <img src="images/favicon.png" alt="The Threshing Floor Logo"  class="desktop-logo">
            </a>
            <nav class="desktop-flex-header">
                <p>
                    <a href="index.html">
                        Home
                    </a>
                </p>
                <p>
                    <a href="about/index.html">
                        About Us
                    </a>
                </p>
                <p>
                    <a href="donate/index.html">
                        Donate
                    </a>
                </p>
            </nav>
        </div>
        <div class="mobile-header">
            <nav class="mobile-flex-header">
                <p>
                    <a href="#" class="open-button" onclick="openNav()">
                        &#9776;
                    </a>
                </p>
                <p class="title-text">TheThreshingFloor</p>
                <img src="images/favicon.png" alt="The Threshing Floor Logo" class="mobile-logo">
                <div class="mobile-menu" id="id-mobile-menu">
                    <p>
                        <a href="#" class="close-button" onclick="closeNav()">
                            &times;
                        </a>
                    </p>
                    <p>
                        <a href="index.html">
                            Home
                        </a>
                    </p>
                    <p>
                        <a href="about.html">
                            About
                        </a>
                    </p>
                    <p>
                        <a href="list.html">
                            Archive
                        </a>
                    </p>
                </div>
            </nav>
        </div>
    </header>