@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Faculty+Glyphic&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --specialtyFont: "Cinzel Decorative", serif;
    /* The Threshing Floor font */
    --subHeaderFont: Arial, sans-serif; 
    /* Something with pizazz but not the specialty */
    --readFont: 'Roboto', sans-serif; 
    /* This font would be all reading material anything in the main page. */
    --headerFont: "Faculty Glyph", serif;
    /* Font for the footer header and other things like that */
}

@media (prefers-color-scheme: light){
    :root {
        --defaultRead:#000;
        --defaultAlternate:#fff;
        --defaultBackground:#fafafa;
        --defaultMedium:#f0f0f0;
    }
    body{
        background-color: var(--defaultAlternate);
        color: var(--defaultRead);
    }
}

@media (prefers-color-scheme: dark){
    :root {
        --defaultRead:#fff;
        --defaultBackground:#000;
        --defaultAlternate:#070707;
        --defaultMedium:#0f0f0f;
    }
    body{
        background-color: var(--defaultBackground);
        color: var(--defaultRead);
    }
    .desktop-logo, .mobile-logo, .footer-icons{
        filter: invert(100);
    }

}

html{
    height: 100vh;
}

a{
    text-decoration: none;
    color: var(--defaultRead);
}

main{
    background-color: var(--defaultBackground);
    margin: 10vw;
    min-height: 90vh;
    font-family: var(--readFont);
}

header{
    background-color: var(--defaultBackground);
    padding:10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: ease-in-out 1s;
    font-family: var(--headerFont);
}

.desktop {
    display: block;
}

.desktop-header{ /*Used for making sure the desktop has the right header*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    height:calc(10svh);
    box-sizing: border-box;
    overflow: hidden;
}

.desktop-flex-header{
    display: flex;
    flex-direction: row;
}

.desktop-flex-header a{
    margin: 0 20px;
    padding: 5px;
    cursor: pointer;
    font-size: 2em;
    position: relative;
    transition: color 0.3s ease;
}

.desktop-flex-header a:hover{
	color: var(--defaultBackground);
}

.desktop-flex-header a::after{
	content:'';
	position: absolute;
	left: 0;
	right: 0;
    top:0;
	background-color: var(--defaultRead);
	height: 1.5em;
    z-index: -1;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease;
}

.desktop-flex-header a:hover::after{
	transform: scaleX(1);
}

.desktop-logo{
    width: 75px;
    cursor: pointer;
}

.mobile{/*Used for making sure mobile has the right header*/
    display: none;
}

.mobile-flex-header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.mobile-logo{
	height:100px;
}

.mobile-menu {
    height: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.8);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: 0.5s;
    z-index: 3;
    text-align: center;
}

.mobile-menu p {
    padding: 12px 33px;
    /* text-decoration: none; */
    font-size: 2em;
    text-wrap: nowrap;
}

.title-text, .open-button,.close-button{
    font-size: 2em;
}

.hero-text{
	color: var(--accent);
    box-sizing: border-box;
	text-align: center;
	font-size: 4em;
	padding:5vw 0;
    /* font-weight: bold; */
    font-family: var(--specialtyFont);
}

.text-header{
    font-size: 1.5em;
    text-align: left;
    padding: 15px 15px 0;
    font-family: var(--subHeaderFont);
    font-weight: bold;
}

.text{
    font-size: 1em;
    padding: 32px;
    line-height: 1.7em;
}

.text a{
    color: var(--defaultRead);
    text-decoration: none;
    font-weight: bold;
}

.text b{
    font-weight: bold;
}

.text > li:before {
    content: "-";
    color: var(--defaultRead);
    text-indent: -5px;
}

.active{
    max-height: 200px;
    padding: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: var(--headerFont);
    /* padding: 0 10%; */
    background-color: var(--defaultMedium);
}

.footer-div {
    display: inline-block;
    padding: 25px;
}

.footer-icons-div {
    display: flex;
    flex-direction: row;
}

.footer-text {
    font-size: 1em;
    padding: 12px;
}

.footer-text a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.footer-text a:hover {
    transform: scale(1.1);
}

.footer-header {
    font-size: 1.2em;
    text-align: left;
    padding: 15px;
    font-weight: bold;
}

.footer-icons {
    width: 35px;
    padding: 15px;
    transition: transform 0.3s ease;
}

.footer-icons:hover {
    transform: scale(1.1);
}

.footer-icons.main-logo{
    width: 300px;
    box-sizing: border-box;
}

.pastor-image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    text-align: center;
}

.outreach-image{
    width: 70%;
    border-radius: 15px;
}
form{
    width: min(800px, 100%);
    margin: auto;
}

label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea{
    width: 100%;
    margin: 5px;
    padding: 2px;
    font-family: var(--readFont);
    box-sizing: border-box;
    font-size: 1em;
    background-color: var(--defaultAlternate);
    color: var(--defaultRead);
    border: 1px solid var(--defaultMedium);
    border-radius: 2px;
    resize: vertical;
    transition: all 0.3s ease;
}

input:hover, textarea:hover{
    transform: scale(1.01);
}

button{
    margin-top: 15px;
    padding: 10px 20px;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 1em;
    font-family: var(--readFont);
    background-color: var(--defaultMedium);
    color: var(--defaultRead);
    border: 1px solid var(--defaultMedium);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    transform: scale(1.05);
}

@media (width >= 1600px) {
    html{
        font-size: 20px;
    }
}
@media (width <= 1400px) {
    main{
        margin: 15vw;
    }
    html{
        font-size: 18px;
    }
}
@media (width <= 1200px) {
    main{
        margin: 10vw;
    }
}
@media (width <= 1000px){
    html{
        font-size: 16px;
    }
    main{
        margin: 0vw;
    }
}
@media (width <= 600px){
    .desktop-header{
        display: none;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .hero-text{
        font-size: 3em;
    }
    .footer-icons.main-logo{
        width: 150px;
    }
}

